body {
   
    max-height: 100vh;
    width: 100%;
    background-color:#4d4d4d;
}

.whitediv{
    height: 380px;
    background-color: white;
}

.spacer{
    height: 5vh;
}

.toggle-container {
    display: inline-block;
}

.toggle-slider {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 18px;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-slider:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s;
}
.mycheck {
    opacity: 0;
    position: absolute;
}

input:checked + .toggle-slider {
    background-color: #2196F3; /* Toggle active color */
}

input:checked + .toggle-slider:before {
    transform: translateX(20px);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    img{
        width:70%;
        text-align: center;
    }
    .whitediv{
        width: 100%;
        
    }
  }